* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#theme {
  position: fixed;
  top: 0;
  left: 0;
}

/* CSS Variables */
/* Dark Light Mode */
*:root {
  --primary-color: rgb(255, 92, 92);
  --primary-variant: #ff2d2d;
  --secondary-color: #1b9999;
  --on-primary: rgb(250, 250, 250);
  --on-background: rgb(66, 66, 66);
  --on-background-alt: rgba(255, 255, 255, 0.7);
  --background: rgb(255, 255, 255);
  --box-shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
}

body[data-theme="dark"] {
  --primary-color: rgb(150, 65, 255);
  --primary-variant: #6c63ff;
  --secondary-color: #03dac5;
  --on-primary: #000;
  --on-background: rgba(255, 255, 255, 0.9);
  --on-background-alt: rgba(66, 66, 66, 0.7);
  --background: #121212;
}

/* Custom CSS */
/* Dark Light Mode */
.toggle input[type="checkbox"] {
  -webkit-appearance: none;
  visibility: hidden;
}

.toggle {
  position: absolute;
  right: 0;
  top: 0;
}

.toggle .check {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  background: var(--primary-color);
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  transition: ease-in 0.3s;
}

.toggle input[type="checkbox"]:checked ~ .check {
  background: var(--primary-color);
}

.check:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  background: var(--background);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input[type="checkbox"]:checked ~ .check:before {
  transform: translateX(20px);
  background: var(--background);
}



/* nav */
nav {
  position: sticky;
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-end;
  top: 0;
  background: var(--primary-color);
  color: var(--on-background);
}

nav a {
  text-decoration: none;
  color: var(--on-background);
  padding: 10px;
}

nav a:hover {
  color: var(--on-background-alt);
}

/* Social Medias */

.icons {
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  grid-auto-flow: column;
}

.icons li {
  list-style: none;
}

.icons li i {
  font-size: 40px;
  color: var(--primary-color);
}

.icons li i:hover {
  color: var(--primary-variant);
}

/* main */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
  background-color: var(--background);
  color: var(--on-background);
  padding: 10px;
}

.grid-left {
  position: relative;
  display: grid;
  grid-template-rows: repeat(4,max-content);
  place-items: center;
  align-content: center;
  grid-gap: 10px;
  padding: 15px;
}

.grid-left img {
    box-shadow: var(--box-shadow);
    border-radius: 100%;
    width: 150px;
    height: 150px;
    object-position: 0px -3px;
    object-fit: cover;
}

.grid-left h1,
.grid-left h2 {
  width: 100%;
  text-align: center;
}

.grid-left ul {
  width: 100%;
}

.grid-right {
  overflow: scroll;
  height: 95vh;
  scroll-behavior: smooth;
  border-left: 1px solid var(--primary-color);
  padding-left: 20px;
}

.grid-right::-webkit-scrollbar {
  display: none;
}

.grid-left div {
  width: 100%;
}

section {
  padding: 15px;
}

section .title {
  margin: 8px 0;
  color: var(--primary-color);
}



/* Skills Section */
.fas {
  color: var(--primary-color);
}

/* Contact Section*/
form {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid var(--on-background);
  margin: 10px 0;
}

.form-group{
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 10px;
  margin: 10px 0;
  align-items: center;
}

.form-group input {
  padding: 5px;
}

form textarea {
  padding: 5px;
}

.btn-primary {
  padding: 10px;
  background: var(--primary-color);
  color: var(--on-primary);
}

.btn-primary:hover {
  background-color: var(--primary-variant);
  color: var(--on-primary);
  cursor: pointer
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .grid-right {
    height: 100%;
    overflow: auto;
    border-left: none;
    padding-top: 20px;
    border-top: 1px solid var(--primary-color);
    margin: 0;
    padding-left: 0px;
  }
}
